.button {
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 6px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
  width: 260px;

  &:hover {
    background: var(--color-primary-hover);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.icon-button {
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  cursor: pointer;
  transition: background 0.2s ease; /**/
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: auto;

  &:hover {
    background: var(--color-primary-hover);
  }
}

.secondary-button {
  background: var(--color-secondary) !important;
  white-space: nowrap;

  &:hover {
    background: var(--color-secondary-hover) !important;
  }
}

.text-input {
  background: var(--color-bg);
  color: var(--color-text);
  border: 2px solid var(--color-muted);
  padding: 10px 0.75rem;
  border-radius: 6px;
  font-size: 14px;
  width: 140px;
}

.number-input-div {
  position: relative;
  display: inline-block;

  &:hover .btn {
    opacity: 1;
    pointer-events: auto;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    background: var(--color-bg);
    border: 2px solid var(--color-muted);
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;

    width: 22px;
    aspect-ratio: 1 / 1;
    padding-left: 1px;
  }

  .minus {
    right: 32px;
  }

  .plus {
    right: 6px;
  }
}
.number-input {
  background: var(--color-bg);
  color: var(--color-text);
  border: 2px solid var(--color-muted);
  padding: 10px 0.75rem;
  border-radius: 6px;
  font-size: 14px;
  width: 140px;
}
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-input {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 14px;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.notification-container {
  position: fixed;
  bottom: 10rem;
  width: 100%;
  z-index: 9999;
}

.notification {
  width: fit-content;
  min-width: 40%;
  margin: auto;
  border-radius: 8px;
  background: var(--color-card-bg);
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;

  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }

  &.success {
    border-color: var(--team-4);
  }
  &.info {
    border-color: var(--team-6);
  }
  &.danger {
    border-color: var(--team-1);
  }

  .message {
    flex: 1;
    padding-left: 0.75rem;
  }

  .close-btn {
    background: none;
  }
}

.color-display {
  border: 2px solid var(--color-card-text);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  padding: 3px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 0 0.5rem;

  &:hover {
    transform: scale(1.1);
  }

  &.selected {
    cursor: default;
    transform: scale(1.1);
  }

  &.just-display {
    cursor: default;

    &:hover {
      transform: none;
    }
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  /* animation: fadeIn 0.2s ease-out; */

  .modal-container {
    position: relative;
    background: var(--rainbow-border);
    border: 5px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    max-width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
    background-color: var(--color-card-bg);
    color: var(--color-card-text);
    /* animation: popIn 0.18s ease-out; */
  }

  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--color-ghost-hover);
    transition: background 0.15s ease;

    &:hover {
      background: var(--color-ghost-selected);
    }
  }
}

/* Animációk */
/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.92);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */
