.game {
  .first-row {
    display: flex;
    gap: 2rem;
    margin-bottom: auto;
    margin-top: auto;

    .guessing-card-display {
      gap: 2rem;

      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .second-row {
    display: flex;
    align-items: center;
    margin: auto;

    .slot {
      position: relative;
      width: 2px;
      height: 124px;
      transition:
        width 0.15s ease,
        height 0.15s ease,
        background 0.15s ease;
      background: transparent;
      border-radius: 4px;

      .empty {
        width: 2px;
        height: 24px;
        background-color: var(--color-ghost-selected);
        margin-top: 50px;
        border-radius: 4px;
        transition:
          width 0.15s ease,
          height 0.15s ease,
          margin-top 0.15s ease;
      }

      &.active {
        width: 52px;
        border-radius: 4px;

        .empty {
          width: 52px;
          height: 108px;
          margin-top: 8px;
        }
      }

      &.hasToken {
        width: 44px;
      }

      &.hasCard {
        width: 52px;
      }

      .guessing-card-slot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 52px;
        align-content: center;
      }

      .token-slot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 44px;
        align-content: center;
      }
    }
  }

  .detailed-card {
    background-color: var(--color-card-bg);
    color: var(--color-card-text);
    border: 4px solid transparent;
    text-align: center;
    padding: 0.5rem;
    font-size: 12px;
    width: 124px;
    height: 124px;
    border-radius: 8px;
    background: var(--rainbow-border);
    display: flex;
    flex-flow: column;

    margin: 0 0.25rem;
  }

  .third-row {
    flex: 1;
    margin: auto;
    max-height: 50vh;
    display: flex;
    gap: 1rem;
    width: 100%;

    .simple-timeline {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      margin-top: 0.5rem;
    }

    .simple-card {
      background-color: var(--color-card-bg);
      color: var(--color-card-text);
      border: 3px solid transparent;
      text-align: center;
      padding: 0 0.5rem;
      height: 52px;
      width: 52px;
      align-content: center;
      border-radius: 6px;
      background: var(--rainbow-border);
    }
  }

  .first-col {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin-bottom: auto;
    margin-top: auto;
  }

  .second-col {
    flex: 1;

    .answer,
    .qr-code {
      background-color: var(--color-card-bg);
      color: var(--color-card-text);
      border: 5px solid transparent;
      text-align: center;
      font-size: 32px;
      display: flex;
      flex-flow: column;
      aspect-ratio: 1 / 1;
      width: auto;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      max-height: 50vh;
      margin: auto;
      background: var(--rainbow-border);
    }

    .answer {
      padding: 1rem;
    }
  }

  .third-col {
    flex: 1;
    display: flex;
    flex-flow: column;
    width: 260px;
    height: 100%;
    margin: auto;

    .token-winner {
      display: flex;
      flex-flow: column;
      gap: 0.25rem;
      align-items: center;
    }

    .team {
      background: transparent;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.2s;
      min-width: 10rem;
      width: fit-content;

      &:hover {
        background-color: var(--color-ghost-hover);
      }

      &.selected-team {
        background-color: var(--color-ghost-selected);
        font-weight: bold;
        font-size: 14.5px;
      }
    }
  }

  .team-display {
    display: flex;
    gap: 1rem;
    height: 44px;
    align-items: center;
  }

  .guessing-card {
    background-color: var(--color-card-bg);
    height: 52px;
    border-radius: 6px;
    width: 52px;
    align-content: center;
    justify-items: center;
    z-index: 11;
  }

  .token {
    background-color: var(--color-card-bg);
    height: 44px;
    width: 44px;
    align-content: center;
    justify-items: center;
    border-radius: 50%;
  }

  .rainbow-circle {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: var(--rainbow-border);
    border: 4px solid transparent;
  }

  .hit-count {
    background-color: var(--color-card-bg);
    color: var(--color-card-text);
    height: 32px;
    border-radius: 6px;
    width: 32px;
    align-content: center;
    text-align: center;
  }

  .token-count {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .round-winner {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 432px;
  }

  .settings-teams {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;

    .settings-team {
      display: flex;
      gap: 0.25rem;
      place-items: center;
      font-size: 14px;
      background-color: var(--color-ghost-hover);
      padding: 0.25rem 0.5rem;
      border-radius: 6px;

      .ghost {
        background: transparent;
        padding: 0.5rem;
        transition: 0.2s;

        &:hover {
          background: var(--color-ghost-selected);
        }
      }

      .team-name {
        min-width: 116px;
      }
    }
  }
}
