.setup {
  &.create-new-game {
    margin: 0 auto;
    width: min-content;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    .input-fields {
      display: flex;
      gap: 6rem;
      margin: auto;

      .first-col {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .second-col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 286px;
    }

    .teams {
      display: flex;
      flex-flow: column;

      .team-div {
        padding: 0.25rem 0;
      }

      .team {
        display: flex;
        gap: 0.25rem;
        place-items: center;
        font-size: 14px;
        background-color: var(--color-ghost-hover);
        padding: 0.25rem 0.5rem;
        border-radius: 6px;

        .ghost {
          background: transparent;
          padding: 0.5rem;
          transition: 0.2s;

          &:hover {
            background: var(--color-ghost-selected);
          }
        }
      }

      .team-index {
        width: 14px;
      }

      .team-name {
        min-width: 116px;
      }

      .drag-handle {
        padding: 0.5rem;
        display: flex;
        cursor: grab;
      }
    }
  }

  .input-label {
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }
}
